---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Banjonunterricht"
  description="banjounterricht, banjo unterricht, banjo spielen, banjounterricht für anfänger, banjo lernen, banjo für anfänger, banjo lehrer, 5-string banjo lernen, banjo anfänger, banjo picker, banjo lernen, bluegrass banjo, banjo lessons"
  keywords="banjounterricht, banjo unterricht, banjo spielen, banjounterricht für anfänger, banjo lernen, banjo für anfänger, banjo lehrer, 5-string banjo lernen, banjo anfänger, banjo picker, banjo lernen, bluegrass banjo, banjo lessons"
>
  <h1>Banjounterricht</h1>
  <section id="instruments_lesson">
    <article>
      <h2>Beginner Banjo, Rüdiger Helbig</h2>
      <picture>
        <source
          srcset="/images/beginner-banjo-wide.webp"
          media="(min-width: 600px)"
        />
        <img
          src="/images/beginner-banjo-narrow.webp"
          width="378"
          height="540"
          alt="Schule_für_Banjo"
        />
      </picture>
      <p>
        Für den Banjounterricht oder im englischen Banjo Picker gibt es in
        deutsch von Rüdiger Helbig ein Werk. "Beginner Banjo" heißt es. Die
        Banjoschule bassiert wie es so üblich ist bei den Banjo Pickern auf
        Tabulaturen. Das heißt es werden keine Noten benutzt.
      </p>
      <p>
        Für diejenigen die das Banjo spielen gerne mal alleine ausprobieren
        wollen habe ich die Tabulatur zum download bereit gestellt. Unten bei
        der Beschreibung ist der Link eingebaut.
      </p>
      <p>Black Mountain Rag</p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/44O9ZSf7Dhc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">[FAQ]</a></li>
        <li><a href="/download/" class="link-blue">[Download]</a></li>
        <li><a href="/impressum/" class="link-blue">[Impressum]</a></li>
      </ul>
    </article>
  </section>
</Layout>
