---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Funktionstheorie" description="Was ist eine Funktionstheorie?" keywords="Funktionstheorie">
  <h1>Funktionstheorie</h1>
  <section id="harmonielehre">
    <article>
      <h1>Funktionstheorie</h1>
      <p>
        Hier geht es um die sogenannten Hauptdreiklänge und Nebendreiklänge. Auf
        welchen Stufen sie stehen. Die Hauptdreiklänge stehen auf den Stufen I,
        IV und V und die Nebendreiklänge stehen auf II, III und VI. Den Akkord
        auf der I. Stufe nennt man Tonika, den Akkord auf der V. Stufe ist die
        Dominante und der Akkord auf der IV. Stufe nennt man Subdominante. Von
        unten drunter. Abgekürzt T = Tonika, D = Dominante und S = Subdominante.
        Die Nebendreiklänge bei Dur sind dann die Tonikaparallele Tp. Liegt auf
        der VI Stufe, die Dominantenparallele Dp auf der III. Stufe und die
        Subdominantenparallele Sp auf der II. Stufe.
      </p>
      <p>
        Hier könnt ihr euch ein <a
          href="/images/Notenblatt.pdf"
          target="_blank"
          class="link-blue">leeres Notenblatt</a
        > downloaden! Es dient für den Aufgabenanhang für das Video Funktionstheorie.
        Downloaden, ausdrucken und dann am besten mit Bleistift die geforderten Anfragen
        aufschreiben.
      </p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/tCkpok099xw"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">[FAQ]</a></li>
        <li><a href="/download/" class="link-blue">[Download]</a></li>
        <li><a href="/impressum/" class="link-blue">[Impressum]</a></li>
      </ul>
    </article>
  </section>
</Layout>
