---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Intervalle lernen"
  description="Für was braucht man Intervalle in der Musik"
  keywords="Intervalle lernen"
>
  <section id="harmonielehre">
    <article>
      <h1>Intervalle</h1>
      <p>
        Das Intervall ist das Verhältnis zwischen zwei Töne. Die Intervalle
        genau zu bestimmen ist eminent wichtig um z.B. zu wissen ob ein Akkord
        in Dur oder Moll ist. Außerdem dienen Sie natürlich für die erweiterte
        Jazzharmonie. Also z.B. G7-9, oder Cm7 usw.
      </p>
      <p>
        Hier könnt ihr euch ein <a
          href="/images/Notenblatt.pdf"
          target="_blank"
          class="link-blue">leeres Notenblatt</a
        > downloaden! Es dient für den Aufgabenanhang für das Video Intervalle. Downloaden,
        ausdrucken und dann am besten mit Bleistift die Intervalle schreiben und
        drunter diese genau bestimmen. Also z.B. g3 = große Terz, k3 = kleine Terz
        usw.
      </p>
      <br />
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/804rrOOFzAQ"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>

      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">[FAQ]</a></li>
        <li><a href="/download/" class="link-blue">[Download]</a></li>
        <li><a href="/impressum/" class="link-blue">[Impressum]</a></li>
      </ul>
    </article>
  </section>
</Layout>
