---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Noten lesen" description="Noten lesen lernen" keywords="noten lesen, noten lernen">
  <section id="harmonielehre">
    <h1>Noten lesen lernen</h1>
    <article>
      <h2>Notenblatt</h2>
      <p>
        Hier könnt ihr euch ein <a
          href="/images/Notenblatt.pdf"
          target="_blank"
          class="link-blue">leeres Notenblatt</a
        > downloaden! Es dient für den Aufgabenanhang für das Video Notenschrift.
        Downloaden, ausdrucken und dann am besten mit Bleistift die Noten und drunter
        die Buchstaben schreiben!
      </p>
      <br />
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Hu4ef1IkuG0"
            name="YouTube video player"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-grey">[FAQ]</a></li>
        <li><a href="/download/" class="link-grey">[Download]</a></li>
        <li><a href="/impressum/" class="link-grey">[Impressum]</a></li>
      </ul>
    </article>
  </section>
</Layout>
