---
import Layout from "../layouts/Layout.astro";
---
<Layout
  title="Kontaktformular"
  description="Kostenloser Probeunterricht"
  keywords="Kontakt"
>
<h2>Dankeschön</h2>
<p>
    Ihre Nachricht ist auf dem Weg! Ich werde mich sobald wie möglich bei Ihnen melden.
</p>
<br>
<a href="/contact">go back!</a>
</Layout>