---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dreiklänge" description="Dreiklänge bestimmen, Dur oder Moll" keywords="Dreiklänge">
  <section id="harmonielehre">
    <article>
      <h1>Dreiklänge</h1>
      <p>
        In diesem Video geht es um Dreiklänge, ob Dur oder Moll und die daraus
        nur 3 möglichen Umkehrungen. Grundform, 1. Umkehrung und 2. Umkehrung.
        Alles andere sind wieder Wiederholungen!
      </p>
      <p>
        Hier könnt ihr euch ein <a
          href="/images/Notenblatt.pdf"
          target="_blank"
          class="link-blue">leeres Notenblatt</a
        > downloaden! Es dient für den Aufgabenanhang für das Video Dreiklänge. Downloaden,
        ausdrucken und dann am besten mit Bleistift die geforderten Dreiklänge aufschreiben.
      </p>
      <div class="video-container-wrapper">
        <div class="video-container">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/fgzboODvlQ4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          >
          </iframe>
        </div>
      </div>
      <p>
        <a href="/leistungen/" class="link-white">zurück</a>
      </p>
      <ul>
        <li><a href="/faq/" class="link-blue">[FAQ]</a></li>
        <li><a href="/download/" class="link-blue">[Download]</a></li>
        <li><a href="/impressum/" class="link-blue">[Impressum]</a></li>
      </ul>
    </article>
  </section>
</Layout>
